!!!
%html(lang="en" data-framework="hyalite")
  %head
    %meta{charset:"utf-8"}
    %title= "Script of #{@slide_name}"
    %link{rel:"stylesheet", href:"../assets/css/script.css"}
    %link{rel:"stylesheet", href:"../assets/css/highlight.css"}

  %body
    %section.script

    = ::Opal::Sprockets.javascript_include_tag("slides/#{@slide_name}/script", sprockets: settings.opal.sprockets, prefix: '/assets', debug: true)
