@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100');
@import url('https://fonts.googleapis.com/earlyaccess/mplus1p.css?family=Mplus+1p');

.gibier {
  font-family: 'Josefin Sans', "Mplus 1p", sans-serif;
  font-weight: 200;
}

.gibier h1 {
  font-weight: 200;
}

.gibier h2 {
  font-weight: 200;
}

.gibier h3 {
  font-weight: 200;
}

.gibier .background {
  background-color: #14B4C8;
  color: #FFFFFF;
}

.page p.icon {
  margin: 0;
  position: relative;
  top: -3.6em;
  left: 25em; 
}

.page p.icon img {
  margin-top: 1em;
  width: 3em;
  border-radius: 24px;
}

