h1 {
  font-size: 1.6em;
  text-align: center;
}

h2 {
  font-size: 1.4em;
  border-bottom: solid 1px gray;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1.0em;
}

pre {
  background: lightgray;
  padding: 1em;
}

code {
  font-family:  Consolas, 'Courier New', Courier, Monaco, monospace;
  background: lightgray;
}

p>code {
  padding: 0.4em;
}
